
DBUtils==1.1
anyjson==0.3.3
billiard==2.7.3.31
distribute==0.7.3
jsonschema==2.0.0
kombu==2.5.12
#mongotor==0.1.0
#pycrypto==2.6
python-dateutil==2.1
redis==2.7.6
requests==1.2.3
simplejson==3.3.0
tornado==4.2.1
Mako==0.8.1
config==0.3.9
#requests[security]
bson
pykafka
